html,
body {
 background-color: #1f3864;
}

.navbar {
 background-color: #00000040;
 padding-left: 5%;
 padding-right: 5%;
}

img {
 border-radius: 50%;
}

.jumbotron {
 background-color: #00000000;
 color: white;
 margin: auto 3%;
}
.jumbotron h1 {
 text-align: center;
}

.fab,
.fas {
 font-size: 1.2rem;
}

.gallery {
 margin: 8% 0;
}

.skill-color {
 background-image: linear-gradient(
  to right,
  #1f3864,
  #fdca49
 );
 padding-bottom: 2%;
}

.s {
 color: white;
 font-size: 2.5rem;
 text-decoration: none;
}

.skills-nav {
 color: white;
 display: flex;
 justify-content: space-around;
 padding: 10px 10%;
}
